{% extends "base.html.twig" %}

{% set currentPage = 'tutorial' %}
{% set bodyId = currentPage %}

{% block header_content %}
<div class="row">
    
</div>
{% endblock header_content %}

{% block main_body %}

<section class="section">
        <div class="container">
            <div class="row">

                <div class="span12">

                </div>

            </div>
        </div>
</section>

<section class="gray section">
    <div class="container">
    </div>
</section>

<section class="section">
    <div class="container">


    </div>
</section>

{% endblock %}
