
body {
    padding-top: 40px;
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: #2a2a2a;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: "SourceSansProLight", "RamblaRegular", "Helvetica Neue",Helvetica,sans-serif;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-weight: normal; */
    font-weight: 100;
}

.section legend {
    color: #ff7400;
}

.section.gray legend {
    color: #00a5db;
}

/* Nav bar */

.navbar .brand {
    padding: 7px 30px 0px;
}

.navbar-inverse .brand, 
.navbar-inverse .nav > li > a {
    color: #999;
    text-shadow: none;
}

.navbar-inverse .nav > li.active > a{
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

.navbar .nav > li {
    line-height: 40px;
}

.navbar .nav > li > a {
    padding: 10px 25px 10px;
}

.navbar-inverse .brand a:hover,
.navbar .nav > li > a:hover {
    color: #757575 ;
}

.navbar-inverse .navbar-inner {
    background-color: white;
    background-image: none;
    border: none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #30b62c;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.2,  #a0d53a),color-stop(1, #60b513));
    background-image: -moz-linear-gradient(center top,#a0d53a 20%,#60b513 100%);
    background-image: linear-gradient(top, #a0d53a 20%, #60b513 100%);
    background-image: -o-linear-gradient(top, #a0d53a 20%, #60b513 100%);
    background-image: -ms-linear-gradient(top, #a0d53a 20%, #60b513 100%);
}

/* Header */

#header {
    background: #0075ea; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #0075ea 0%, #53cbf1 60%, #87e0fd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0075ea), color-stop(60%,#53cbf1), color-stop(100%,#87e0fd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #0075ea 0%,#53cbf1 60%,#87e0fd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #0075ea 0%,#53cbf1 60%,#87e0fd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #0075ea 0%,#53cbf1 60%,#87e0fd 100%); /* IE10+ */
    background: linear-gradient(45deg,  #0075ea 0%,#53cbf1 60%,#87e0fd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0075ea', endColorstr='#87e0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 40px 0 20px 0;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
    color: white;
}

#header .btn {
    box-shadow: 0 0 10px white;
}

#homepage #header {
    padding: 80px 0;
}

#homepage #footer {
    margin-top: 0;
}

#header h1 {
    font-size: 2.7em;
    line-height: 1em; 
}
#header legend {
    color: white;
    border-bottom: 1px dotted white;
}

#header .popover {
    color: #2a2a2a ;
}

#header .help-popover {
    color: #224285;
}

#header .faker-link {
    color: white;
    font-weight: bold;
}

/* Footer */

#footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    color: #626262;
    font-size: 0.95em;
    background-color: #2a2a2a ;
}

#footer a {
    color: #626262 ;
}

#footer a:hover {
    color: #4e4e4d ;
}

#footer .footer-links {
    margin: 10px 0;
}

#footer li {
    display: inline;
    padding: 0 2px;
}

.section {
    padding: 50px 0;
}

.section.gray {
    background-color: whitesmoke;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.08);
}

.well {
    border-radius: 2px;
    background-color: white;
    border: none;
    box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}

/* Section styles */

.section h2 {
    color: #ff7400 ;
}

.section .well h2 {
    color: #ff7400 ;
}

.section.gray h2 {
    color: #00a5db;
}

.section.gray .well h2 {
    color: orange;
}


#testimonial .item {
    padding-right: 80px;
    width: 350px;
}

.circle {
    border-radius: 50%;
    
}

/* How does it works styles */

#how-does-it-works .circle {
    background-color: #2a2a2a;
    color: white;
    height: 240px;
    width: 240px;
    position: relative;
}

#how-does-it-works .circle .icon,
#how-does-it-works .circle .description {
    width: 220px;
    text-align: center;
}

#how-does-it-works .circle .icon {
    font-size: 4em;
    text-align: center;
    padding-top: 50px;
    padding-left: 10px;
}

#how-does-it-works .circle .description {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    height: 40%;
    font-size: 1.3em;
    line-height: 1.2em;
}

#how-does-it-works .title {
    margin-bottom: 30px;
}

#how-does-it-works h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    color: #2a2a2a;
    font-weight: 100;
}

/* FAQ styles */


#faq-accordion .accordion-heading .accordion-toggle {
    padding: 8px 0px;
    border-bottom: 1px solid #e5e5e5;
}

#faq-accordion .accordion-heading a.accordion-toggle  {
    color: #00a5db;
}

#faq-accordion .accordion-heading a.accordion-toggle:hover  {
    color: #ff7400;
    text-decoration: none;
}

#faq-accordion .accordion-inner {
    border-top:none;
    border-bottom: 1px solid #e5e5e5;
}

/* Latest news */

#latest-news ul {
    margin-left: 0;
}

#latest-news ul li {
    list-style: none;
    padding-top: 7px;
    margin-top: 7px;
    border-top: 1px solid #F1F1F1;
}

#latest-news ul li .date {
    color: #00a5db;
}

/* Testimonial styles */

#testimonial .carousel-control {
    border-width: 4px;
    font-size: 1.5em;
    line-height: 25px;
    width: 30px;
    height: 30px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}
#testimonial .carousel-control .icon {
    margin-top: 5px;
}


/* about styles */

#about .thank-you-area {
    padding: 50px 0 0;
}

#about .thank-you {
    font-size: 4em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2a2a2a;
    font-weight: 100;
}

#about #love.circle {
    /* background-color: #96c400 ; */
    background-color: #00a5db ;
    color: white;
    height: 115px;
    width: 150px;
    padding-top: 35px;
    position: relative;
    font-size: 5em;
    margin-top: 20px
}

#about #love.circle .icon-heart {
    margin-top:30px;
}

.row.bonus {
    margin-top: 50px;
    
    font-size: 1.1em;
}

/* Special generation page styles */

#column-configs .well, 
#variables .well{
    padding: 10px;
    margin-bottom: 10px;
}

#variables .well {
    margin-bottom: 15px;
}

#column-configs .control-group .controls input,
#variables .control-group .controls input {
    width: 100%;
}

#column-configs .control-group,
#variables .control-group {
    margin-bottom: 0;   
}

#column-configs .control-group.name .control-label{ width: 80px; }
#column-configs .control-group.name .controls{ margin-left: 90px; } /* previous one width + 10px */

#column-configs .control-group.value .control-label{ width: 80px; }
#column-configs .control-group.value .controls{ margin-left: 90px; } /* previous one width + 10px */

#column-configs .control-group.convert-method .control-label{ width: 80px; }
#column-configs .control-group.convert-method .controls{ margin-left: 90px; } /* previous one width + 10px */

#column-configs .control-group.unique .control-label{ width: 80px; }
#column-configs .control-group.unique .controls{ margin-left: 90px; } /* previous one width + 10px */

#variables .control-group.name .control-label{ width: 80px; }
#variables .control-group.name .controls{ margin-left: 90px; } /* previous one width + 10px */

#variables .control-group.faker-method .control-label{ width: 85px; }
#variables .control-group.faker-method .controls{ margin-left: 120px; } /* previous one width + 10px */

#variables .control-group.argument .control-label{ width: 110px; }
#variables .control-group.argument .controls{ margin-left: 120px; } /* previous one width + 10px */

/* buttons styles */

.btn:hover {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}
.btn,
.btn-success{ 
    color: white;
    border-color: #7ca122; border-bottom-color: #7ca122; 
    background-color: #8dc11e;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #a0d53a),color-stop(1, #60b513));
    background-image: -moz-linear-gradient(center top,#a0d53a 20%,#60b513 100%);
    background-image: linear-gradient(top, #a0d53a 20%, #60b513 100%);
    background-image: -o-linear-gradient(top, #a0d53a 20%, #60b513 100%);
    background-image: -ms-linear-gradient(top, #a0d53a 20%, #60b513 100%);
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.btn:hover,
.btn-success:hover{ 
    background: #d20000;
    color: white;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #8EBD33),color-stop(1, #549E11));
    background-image: -moz-linear-gradient(center top,#8EBD33 20%,#549E11 100%);
    background-image: linear-gradient(top, #8EBD33 20%, #549E11 100%);
    background-image: -o-linear-gradient(top, #8EBD33 20%, #549E11 100%);
    background-image: -ms-linear-gradient(top, #8EBD33 20%, #549E11 100%);
}

/* .btn-danger { 
    border-color: #af4040; border-bottom-color: #9a2020; background-color: #d72323;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e85252),color-stop(1, #cf2e2e));
    background: -moz-linear-gradient(center top,#e85252 20%,#cf2e2e 100%);
    background-image: linear-gradient(top, #e85252 20%, #cf2e2e 100%);
    background-image: -o-linear-gradient(top, #e85252 20%, #cf2e2e 100%);
    background-image: -ms-linear-gradient(top, #e85252 20%, #cf2e2e 100%);
}
.btn-danger:hover { 
    background: #d20000;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #e53e3e),color-stop(1, #ca1616));
    background: -moz-linear-gradient(center top,#e53e3e 20%,#ca1616 100%);
    background-image: linear-gradient(top, #e53e3e 20%, #ca1616 100%);
    background-image: -o-linear-gradient(top, #e53e3e 20%, #ca1616 100%);
    background-image: -ms-linear-gradient(top, #e53e3e 20%, #ca1616 100%);
} */

.btn-danger { 
    /* color:  ; */
    
    border-color:  #da8b25 ; border-bottom-color: #9a5420; background-color: #ff9100;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #ffb300),color-stop(1, #ff9100));
    background: -moz-linear-gradient(center top,#ffb300 20%,#ff9100 100%);
    background-image: linear-gradient(top, #ffb300 20%, #ff9100 100%);
    background-image: -o-linear-gradient(top, #ffb300 20%, #ff9100 100%);
    background-image: -ms-linear-gradient(top, #ffb300 20%, #ff9100 100%);
}
.btn-danger:hover { 
    background: #d25e00;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(.2, #ff9100),color-stop(1, #ff8000));
    background: -moz-linear-gradient(center top,#e57d3e 20%,#ca5116 100%);
    background-image: linear-gradient(top, #e57d3e 20%, #ca5116 100%);
    background-image: -o-linear-gradient(top, #e57d3e 20%, #ca5116 100%);
    background-image: -ms-linear-gradient(top, #e57d3e 20%, #ca5116 100%);
}

.btn-primary {
    border: 1px solid #4081AF;
    background-color: #237FD7;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #52A8E8), color-stop(1, #2E76CF) );
    background: -moz-linear-gradient( center top, #52A8E8 20%, #2E76CF 100% );
    background-image: linear-gradient(top, #52A8E8 20%, #2E76CF 100%);
    background-image: -o-linear-gradient(top, #52A8E8 20%, #2E76CF 100%);
    background-image: -ms-linear-gradient(top, #52A8E8 20%, #2E76CF 100%);
}

.btn-primary:hover {
    background: #0073D2;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(.2, #3E9EE5), color-stop(1, #1666CA) );
    background: -moz-linear-gradient( center top, #3E9EE5 20%, #1666CA 100% );
    background-image: linear-gradient(top, #3E9EE5 20%, #1666CA 100%);
    background-image: -o-linear-gradient(top, #3E9EE5 20%, #1666CA 100%);
    background-image: -ms-linear-gradient(top, #3E9EE5 20%, #1666CA 100%);
}

.select2-choice, .select2-results{
    font-weight: normal;
    font-size: 14px;
}

/* fonts */

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../font/source/SourceSansPro-Regular-webfont.eot');
    src: url('../font/source/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/source/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../font/source/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../font/source/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../font/source/SourceSansPro-Light-webfont.eot');
    src: url('../font/source/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/source/SourceSansPro-Light-webfont.woff') format('woff'),
         url('../font/source/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('../font/source/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProExtraLight';
    src: url('../font/source/SourceSansPro-ExtraLight-webfont.eot');
    src: url('../font/source/SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/source/SourceSansPro-ExtraLight-webfont.woff') format('woff'),
         url('../font/source/SourceSansPro-ExtraLight-webfont.ttf') format('truetype'),
         url('../font/source/SourceSansPro-ExtraLight-webfont.svg#SourceSansProExtraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProBlack';
    src: url('../font/source/SourceSansPro-Black-webfont.eot');
    src: url('../font/source/SourceSansPro-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/source/SourceSansPro-Black-webfont.woff') format('woff'),
         url('../font/source/SourceSansPro-Black-webfont.ttf') format('truetype'),
         url('../font/source/SourceSansPro-Black-webfont.svg#SourceSansProBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

.bold {
    font-weight: bold;
}